<button type="button" class="close" ng-click="cancel();">
    <i class="fa fa-times-circle-o" style="margin:10px;color:blue;"></i>
</button>
<div class="modal-header">
    <h4 class="modal-title">{{title}}</h4>
</div>
<div class="modal-body">
    <form name="confirm_form" class="form-horizontal" role="form" novalidate>
        <div><i class="ace-icon fa fa-question fa-3x"></i>   OK to delete the device <strong>{{device.fullname}}</strong> ?</div>
        <div class="space"></div>
        <div class="space-4"></div>
        <div class="modal-footer">
            <form-element label="">
                <div class="text-right">
                    <a class="btn btn-sm" ng-click="cancel()"><i class="ace-icon fa fa-reply"></i> Cancel</a>
                    <button ng-click="confirm(device);" class="btn btn-sm btn-primary" type="submit">
                        <i class="ace-icon fa fa-check"></i> {{buttonText}}
                    </button>
                </div>
            </form-element>
        </div>
    </form>
</div>
