<h4 class="blog-post-title">Devices</h4>
<hr/>
<button type="button" class="btn btn-danger fa fa-plus" ng-click="create(device);" ng-if="currentuser.profile=='administrator'">&nbsp;Add New Device</button>
<div class="table-responsive">
    <div class="panel panel-primary">
        <div class="panel-heading">List of devices
            <div class="sw-search">
                <div class="nav-search" id="nav-search">
                    Filter: <span class="input-icon">
                        <input placeholder="Filter devices list ..." class="nav-search-input" ng-model="filterdevices" ng-change="resetLimit();"  autocomplete="off" type="text" style="width:300px;" focus>
                        <i class="search-icon fa fa-search nav-search-icon"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <h4>Devices I'm using</h4>
            <filtered-device-list filtered-status="'inuse'" devices="devices" currentuser="currentuser"></filtered-device-list>
            <!-- list all my locked devices -->
            <h4>Devices I locked</h4>
            <filtered-device-list filtered-status="'locked'" devices="devices" currentuser="currentuser"></filtered-device-list>
            <!-- list all devices, except those locked or in use by me -->
            <h4>All (other) devices</h4>
            <filtered-device-list filtered-status="" devices="devices" currentuser="currentuser" filter-devices="filterdevices"></filtered-device-list>
        </div>
    </div>
</div>
