<hr/>
<div class="table-responsive">
    <div class="panel panel-primary">
        <div class="panel-heading">Login
            <!--
            <div class="sw-search">
                <div class="nav-search" id="nav-search">
                    Filter: <span class="input-icon">
                        <input placeholder="Filter users list ..." class="nav-search-input" ng-model="filterUser" ng-change="resetLimit();"  autocomplete="off" type="text" style="width:300px;" focus>
                        <i class="search-icon fa fa-search nav-search-icon"></i>
                    </span>
                </div>
            </div>
            -->
        </div>
        <div class="panel-body">
            <table class="table table-striped">
                <form ng-submit="login(username, password)">
                    <tr>
                        <td>
                            <label>User name</label>
                        </td>
                        <td>
                            <input type="text" ng-model="username" class="ng-pristine ng-valid">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Password</label>
                        </td>
                        <td>
                            <input type="password" ng-model="password" class="ng-pristine ng-valid">
                        </td>
                    </tr>
                    <tr>
                        <br/> {{loginError}} {{loggedUser}}
                        <br/>
                        <br/>
                    </tr>
                    <tr>
                        <td>
                        </td>
                        <td>
                            <button class="btn btn-success ng-click="Submit">Submit</button>
                            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                        </td>
                    </tr>
                </form>
            </table>
        </div>
    </div>
</div>
