<hr>
<div class="table-responsive">
    <div class="panel panel-primary">
        <div class="panel-heading">Login</div>
        <div class="panel-body">
            <table class="table">
                <form>
                    <tr>
                        <td>
                            <label>Username</label>
                        </td>
                        <td>
                            <input type="text" ng-model="username" class="ng-pristine ng-valid">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Password</label>
                        </td>
                        <td>
                            <input type="password" ng-model="password" class="ng-pristine ng-valid">
                        </td>
                    </tr>
                    <tr>
                        <br/> {{loginError}} {{loggedUser}}
                        <br/>
                        <br/>
                    </tr>
                    <tr>
                        <td>
                        </td>
                        <td>
                            <button class="btn btn-primary" type="button" ng-click="login(username, password)">Login</button>
                            <!-- <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button> -->
                        </td>
                    </tr>
                </form>
            </table>
        </div>
    </div>
</div>
