<button type="button" class="close" ng-click="cancel();">
    <i class="fa fa-times-circle-o" style="margin:10px;color:blue;"></i>
</button>
<div class="modal-header">
    <h4 class="modal-title">{{title}}</h4>
</div>
<div class="modal-body">
    <form name="user_form" class="form-horizontal" role="form" novalidate>

        <!-- //todo: class == user_form-control || form-control ? -->

        <form-element label="Badge ID" mod="user">            
            <input type="text" class="form-control" name="badgeid" placeholder="enter badge identifier" ng-model="user.badgeid" ng-maxlength="10" ng-minlength="1" maxlength="10" required />
        </form-element>
        <form-element label="Username" mod="user">
            <input type="text" class="form-control" name="username" placeholder="enter username" ng-model="user.username" ng-maxlength="15" maxlength="15" required />
        </form-element>
        <form-element label="Password" mod="user" ng-if="action=='adduser'">
            <input type="password" class="form-control" name="password" placeholder="enter password" ng-model="user.password" ng-maxlength="15" ng-minlength="6" maxlength="15" required />
        </form-element>
        <form-element label="Profile" mod="user">
            <select name="profile" class="form-control" placeholder="enter profile" ng-model="user.profile" required >
                <option ng-repeat="option in availableProfiles" value="{{option.id}}" ng-selected="option.name==user.profile">{{option.name}}</option> 
            </select>
        </form-element>        
        <form-element label="Firstname" mod="user">
            <input type="text" name="firstname" class="form-control" placeholder="enter firstname" ng-model="user.firstname" ng-maxlength="20" maxlength="20" required />
        </form-element>
         <form-element label="Lastname" mod="user">
            <input type="text" name="lastname" class="form-control" placeholder="enter lastname" ng-model="user.lastname" ng-maxlength="20" maxlength="20" required />
        </form-element>
        <form-element label="Active until" mod="user">
            <input type="date" name="enddate" class="form-control" placeholder="enter date : active until" ng-model="user.enddate" min="{{date | date:'yyyy-MM-dd'}}" />
         
            <span ng-show="user_form.enddate.$error.min">End Date should not be less than current date</span>
        </form-element>

        <div class="space"></div>
        <div class="space-4"></div>
        <div class="modal-footer">
            <form-element label="">
                <div class="text-right">
                    <a class="btn btn-sm" ng-click="cancel()"><i class="ace-icon fa fa-reply"></i>Cancel</a>
                    <button ng-click="saveUser(user);" ng-disabled="user_form.$invalid || enableUpdate" class="btn btn-sm btn-primary" type="submit">
                        <i class="ace-icon fa fa-check"></i>{{buttonText}}
                    </button>
                </div>
            </form-element>
        </div>
    </form>
</div>
